<div class="relative overflow-x-auto sm:rounded-lg max-w-7xl mx-auto p-6">
  @if (searchData) {
  <h2 class="mb-4">Search Result</h2>
  <hr />
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nat ID No</th>
        <th scope="col" class="px-6 py-3">Customer ID</th>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
        <th scope="col" class="px-6 py-3">Phone No</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Is Active</th>
        <th scope="col" class="px-6 py-3">Created Date</th>
      </tr>
    </thead>
    <tbody>
      @for (key of searchData; track key) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ key.natID }}
        </th>
        <td class="px-6 py-4">{{ key.customerId }}</td>
        <td class="px-6 py-4">{{ key.firstName }}</td>
        <td class="px-6 py-4">{{ key.lastName }}</td>
        <td class="px-6 py-4">{{ key.phoneNo }}</td>
        <td class="px-6 py-4">{{ key.email }}</td>
        <td class="px-6 py-4">@if (key.isActive) { True } @else { False }</td>
        <td class="px-6 py-4">
          {{ key.createdDate | date : "dd/MM/yyyy, h:mm a" }}
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <button
    routerLink="/customer/create-customer"
    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >
    Create Customer
  </button>
  }
</div>
