:host #etiya-navbar-logo {
  display: block;
  width: 200px;
  height: 75px;
  background-image: url("../../../../assets/images/etiya_navbar_logo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
