<h2 class="text-xl font-bold mb-4">Address Info</h2>

<div class="flex flex-col items-center">
  <div class="grid grid-cols-3 gap-4 p-4 w-full max-w-2xl">
    <div *ngFor="let address of addresses" class="">
      <div>
        <div class="flex gap-4 mb-4">
          <p
            class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300"
          >
            {{ address.name }}
          </p>
        </div>
        <div class="border p-4 rounded shadow-sm">
          <p>{{ concatenateAddressDetails(address) }}</p>
        </div>
      </div>
    </div>
    <button
      *ngIf="addressList.length < 3"
      type="button"
      (click)="openModal()"
      class="border border-gray-400 p-4 rounded flex items-center justify-center hover:bg-gray-200"
    >
      Add New Address
    </button>
    <div
      *ngIf="isModalOpen"
      class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center"
    >
      <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
        <h3 class="text-lg font-bold mb-4">Add New Address</h3>

        <form [formGroup]="form">
          <div class="flex">
            <input
              type="checkbox"
              class="border rounded p-2 mb-4"
              formControlName="primaryAddress"
              name="primaryAddress"
            />
            <label class="ml-2">Set as Primary Address</label>
          </div>

          <label class="block mb-2">Name:</label>
          <input
            type="text"
            class="w-full border rounded p-2 mb-4"
            formControlName="name"
            name="name"
            required
          />

          <label class="block mb-2">City:</label>
          <input
            type="text"
            class="w-full border rounded p-2 mb-4"
            formControlName="city"
            name="city"
            required
          />

          <label class="block mb-2">District:</label>
          <input
            type="text"
            class="w-full border rounded p-2 mb-4"
            formControlName="district"
            name="district"
            required
          />

          <label class="block mb-2">Neighborhood:</label>
          <input
            type="text"
            class="w-full border rounded p-2 mb-4"
            formControlName="neighborhood"
            name="neighborhood"
            required
          />

          <label class="block mb-2">Postal Code:</label>
          <input
            type="text"
            class="w-full border rounded p-2 mb-4"
            formControlName="postalCode"
            name="postalCode"
            required
          />

          <label class="block mb-2">House No:</label>
          <input
            type="text"
            class="w-full border rounded p-2 mb-4"
            formControlName="houseNo"
            name="houseNo"
            required
          />

          <label class="block mb-2">Address Description:</label>
          <textarea
            class="w-full border rounded p-2 mb-4"
            formControlName="description"
            name="description"
            required
          ></textarea>

          <button
            type="submit"
            class="px-4 py-2 bg-green-500 text-white rounded"
            (click)="submitForm()"
          >
            Save
          </button>
          <button
            type="button"
            class="px-4 py-2 bg-gray-500 text-white rounded ml-2"
            (click)="closeModal()"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="flex justify-end w-full max-w-2xl mt-4">
    <button
      routerLink="/customer/create-customer/customer-info"
      class="px-4 py-2 bg-gray-300 text-gray-700 rounded"
    >
      Previous
    </button>
    <button
      routerLink="/customer/create-customer/contact-medium"
      class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded ml-4"
    >
      Next
    </button>
  </div>
</div>
