<div class="max-w-7xl mx-auto p-6 min-h-screen">
  <!-- Tabs Section -->
  <div class="flex space-x-4 border-b mb-6">
    <a routerLink="customer-info" routerLinkActive="active-tab"
      >Customer Info</a
    >
    <a routerLink="address" routerLinkActive="active-tab">Address</a>
    <a routerLink="contact-medium" routerLinkActive="active-tab"
      >Contact Medium</a
    >
    <a routerLink="customer-account" routerLinkActive="active-tab"
      >Customer Account</a
    >
  </div>

  <!-- Create Customer Form -->
  <router-outlet></router-outlet>
</div>
