<div class="max-w-7xl mx-auto p-6">
  <h2 class="text-2xl font-semibold mb-4">Search Customer</h2>
  <h2>Search Filter</h2>
  <hr />
  <div class="border-t border-gray-300 pt-4">
    <form [formGroup]="form" class="grid grid-cols-6 gap-4">
      <div class="col-span-1">
        <label for="natId" class="block text-sm font-medium text-gray-700"
          >NAT ID No:</label
        >
        <input
          id="natId"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="natId"
          formControlName="natId"
        />
      </div>

      <div class="col-span-1">
        <label for="customerId" class="block text-sm font-medium text-gray-700"
          >CustomerID:</label
        >
        <input
          id="customerId"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="customerId"
          formControlName="customerId"
        />
      </div>

      <div class="col-span-1">
        <label for="firstName" class="block text-sm font-medium text-gray-700"
          >First Name:</label
        >
        <input
          id="firstName"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="firstName"
          formControlName="firstName"
        />
      </div>

      <div class="col-span-1">
        <label for="lastName" class="block text-sm font-medium text-gray-700"
          >Last Name:</label
        >
        <input
          id="lastName"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="lastName"
          formControlName="lastName"
        />
      </div>

      <div class="col-span-1">
        <label for="phoneNo" class="block text-sm font-medium text-gray-700"
          >Phone No:</label
        >
        @if(hasError('phoneNo')) {
        <small class="text-danger">Hatalı alan</small>
        }
        <input
          id="phoneNo"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="phoneNo"
          formControlName="phoneNo"
        />
      </div>

      <div class="col-span-1">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email:</label
        >
        @if(hasError('email')) {
        <small class="text-danger">Hatalı alan</small>
        }
        <input
          id="email"
          type="text"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="email"
          formControlName="email"
        />
      </div>

      <div class="col-span-1">
        <label for="isActive" class="block text-sm font-medium text-gray-700"
          >Is Active:</label
        >
        <input
          id="isActive"
          type="checkbox"
          class="mt-1 block w-full h-full border border-gray-300 rounded-md"
          name="isActive"
          formControlName="isActive"
        />
      </div>

      <div class="col-span-1">
        <label for="createdDate" class="block text-sm font-medium text-gray-700"
          >Created Date:</label
        >
        <input
          id="createdDate"
          type="date"
          class="mt-1 block w-full border border-gray-300 rounded-md"
          name="createdDate"
          formControlName="createdDate"
        />
      </div>
    </form>
  </div>

  <div class="flex justify-end mt-4">
    <button
      class="bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded mr-2"
      (click)="clearForm()"
    >
      Clear
    </button>
    <button
      type="submit"
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="submitForm()"
    >
      Search
    </button>
  </div>
</div>

<div class="relative overflow-x-auto sm:rounded-lg max-w-7xl mx-auto p-6">
  @if (searchData) {
  <h2 class="mb-4">Search Result</h2>
  <hr />

  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nat ID No</th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Customer ID
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            First Name
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Last Name
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Phone No
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Email
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Is Active
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">
            Created Date
            <a href="#"
              ><svg
                class="w-3 h-3 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                /></svg
            ></a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      @for (key of searchData; track $index) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ key.natID }}
        </th>
        <td class="px-6 py-4">
          {{ key.customerId }}
        </td>
        <td class="px-6 py-4">
          {{ key.firstName }}
        </td>
        <td class="px-6 py-4">
          {{ key.lastName }}
        </td>
        <td class="px-6 py-4">
          {{ key.phoneNo }}
        </td>
        <td class="px-6 py-4">
          {{ key.email }}
        </td>
        <td class="px-6 py-4">@if(key.isActive){ True }@else { False }</td>
        <td class="px-6 py-4">
          {{ key.createdDate | date : "dd/MM/yyyy, h:mm a" }}
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
    <button
      routerLink="/customer/create-customer"
      
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Create Customer
    </button>
  }
</div>
