:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../../assets/images/etiya-login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
